---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: Release

on:
  push:
    branches: [main]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: latest

      - name: Install semantic-release
        run: |
          npm i -g \
          semantic-release \
          @semantic-release/git \
          @semantic-release/changelog

      - name: Run semantic-release
        run: semantic-release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
